.text_right {
    text-align: right;
}

.current_price {
    font-weight: bolder;
    color: #ff0000;
}

.future_price {
    font-weight: bolder;
    color: #0018ff;
}

.bg1 {
    background-color: #87d6ff;
}

.bg2 {
    background-color: #ff8b56;
}

.bg3 {
    background-color: #ea6f78;
}